@import "checkbox.css";
@import "pagination.css";
@import "search.css";
@import "register.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC;
}

.logo {
  background-image: url('/img/logo.png');
  height: 50px;
  width: 205px;
}

header {
  background-color: #4B7FEA;
  height: 50px;
  color: #FFF;
  margin-bottom: 30px;
}

#container-body {
  padding-left: 40px;
  padding-right: 40px;
}
